/* ------- Specification ------- */
$clr-text: #8c8f94;
$clr-title: #26272d;

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0em;
	color: $clr-text;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
	color: $clr-title;
}

h1, h2 {
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 62px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 32px;
	font-weight: 300;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

input, button {
	border: none;
	background-color: transparent;
	padding: 0;
}

input, button, button:focus, span:focus {
	outline: none;
}

.btn {
	display: block;
	background-color: #267df4;
	width: 132px;
	max-width: 100%;
	font-size: 16px;
	font-weight: 400;
	height: 42px;
    line-height: 26px;
	text-align: center;
	color: #fff;
	border: transparent 1px solid;
	border-radius: 50px;
	align-items: center;
}

.btn:focus {
	box-shadow: none;
}

// ------------ header ----------------

.header {
	background: #eef0f3 url(../img/fon.jpg) no-repeat center center / cover;
}

.navigation {
	padding: 44px 0;
}

.menu__item_left {
	margin-right: 41px;
}

.menu__link {
	font-size: 16px;
	color: #26272d;
}

.menu__link:hover {
	color: #b5b5b6;
}

.menu__link_hamburger {
	margin-right: 30px;
}

.menu__item_right {
	margin-left: 30px;
}

.menu__btn:hover {
	border: #267df4 1px solid;
	background-color: transparent;
	color: #26272d;
}

.menu__btn i {
	font-size: 18px;
	margin-right: 12px;
}

.main {
	padding-top: 71px;
}

.main-text {
	margin: 35px auto 60px auto;
	max-width: 787px;
}

.main-link {
	display: block;
	color: $clr-title;
	background-color: transparent;
	border: 1px solid #dadcdf;
	height: 50px;
	line-height: 36px;
	width: 205px;
	max-width: 100%;
	margin: 0 auto 55px auto;
}

.main-link:hover {
	color: #fff;
	background-color: #267df4;
	border: 1px solid #267df4;
}

.main-link i {
	margin-right: 15px;
}

// --------- section-causes --------
.section-causes {
	padding-top: 122px;
}

.causes {
	padding-bottom: 92px;
	border-bottom: 1px solid #f4f4f4;
}

.cause {
	margin-left: 38px;
}

.cause__title {
	font-weight: 300;
	font-size: 26px;
	margin: 42px 0;
}

.cause__text {
	margin-bottom: 30px;
	font-size: 18px;
	width: 500px;
}

// --------- section-protect -------
.section-protect {
	padding: 254px 0 310px 0;
	background: url(../img/iphoneprotect.png) no-repeat left center;
}

.protect {
	width: 470px;
}

.protect__btn {
	width: 202px;
	margin-right: 20px;
}

.protect__btn:hover {
	@extend .menu__btn:hover;
}

.protect__buttons i {
	margin-left: 46px;
}

.prottect__more {
	width: 140px;
	background-color: transparent;
	color: $clr-title;
	border: 1px solid #e9e9ea;
}

.prottect__more:hover {
	@extend .main-link:hover;
}

.protect__text {
	margin-bottom: 32px;
}

.protect__buttons {
	margin-top: 43px;
}

.protect__title {
	margin-bottom: 67px;
}

// --------- section-location ----------------
.section-location {
	padding: 129px 0 198px 0;
	background: url(../img/map.jpg) no-repeat right center;
}

.location {
	width: 470px;
}

.location__title {
	margin-bottom: 58px;
}

.location__text {
	margin-bottom: 34px;
}

.partners span {
	display: block;
	margin: 28px 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: $clr-title;
}

.partners__item {
	margin-right: 31px;
}

// --------- section-interface ----------------
.section-interface {
	padding: 140px 0 120px 0;
	background-color: #f5f5f8;
}

.interface span {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

.interface span:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #267df4;
	display: block;
	margin: 42px auto;
}


.slider {
	margin: 40px 0;
}

.slider .slick-center {
	opacity: 1;
	background: url(../img/iphone666.png) center center no-repeat;
}

.slider__item {
	opacity: 0.6;
	transition: all 0.1s ease 0s;
	padding: 100px 30px 110px 30px;
}


/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

.slider .slick-arrow {
	// display: none!important;
}

/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}





// --------- section-get-it ----------------
.section-get-it {
	padding: 75px 0 130px 0;
	background-color: #f5f5f8;
}

.get-it__logo {
	font-size: 12px;
	text-transform: uppercase;
	color: #a8a9af;
}

.get-it__logo span {
	font-weight: 700;
}

.get-it__title {
	margin: 35px 0 43px 0;
}

.form {
	position: relative;
}

.form__input {
	width: 500px;
	border: 1px solid #cbcbce;
	font-size: 16px;
	color: #3a3d4b;
	border-radius: 50px;
	padding: 15px 15px 14px 25px;
}

.form__btn {
	position: absolute;
	right: 342px;
    top: 7px;
	width: 164px;
	background-color: #6fc754;
	border: 1px solid transparent;
}

.form__btn:hover {
	border: 1px solid #6fc754;
	background-color: #fff;
	color: #6fc754;
}

.form__btn i {
	margin-left: 18px;
}

.get-it__download {
	display: block;
	margin: 65px 0 22px 0;
	text-transform: uppercase;
	color: #c9c9ce;
	font-size: 12px;
}

.get-it__link {
	width: 210px;
	background-color: #131315;
	border: 1px solid transparent;
	border-radius: 50px;
	color: #fff;
	font-size: 12px;
	margin: 0 auto;
	padding: 11px 0;
	text-align: left;
}

.get-it__link:hover {
	background-color: #fff;
	border: 1px solid #131315;
	color: #131315;
}

.download-text p {
	margin-left: 2px;
}

.get-it__link span {
	font-size: 23px;
	display: block;
	line-height: 1;
}

.get-it__link i {
	font-size: 33px;
	margin-right: 18px;
}

// --------- section-reviews ----------------
.section-reviews {
	padding: 132px 0 126px;
}

// Slider author
.slider-author__img {
	display: block;
	width: 90px;
	border-radius: 100px;
}

.slider-author {
	margin-bottom: 28px;
	padding: 0 300px;
	position: relative;
}

.slider-author .slick-center {
	opacity: 1;
	position: relative;
	padding-bottom: 41px;
}

.slider-author .slick-center:after {
	content: ' ';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    padding-bottom: 31px;
    box-shadow: 16px 22px 25px rgba(92, 95, 101, 0.28);
}

.slider-author .slick-center .slider-author__img  {
	width: 130px;
}

.slider-author__item {
	opacity: 0.15;
	transition: all 0.1s ease 0.15s;
	margin: 0 65px;
	border-radius: 100px;
	padding-bottom: 41px;
}

.slider-author .slick-track {
	align-items: center;
}

/* Стрелка */
.slider-author .slick-arrow{
	position: absolute;
	top: 30%;
	z-index: 10;
	font-size: 0;
	width: 22px;
	height: 41px;
}
/* Стрелка влево */
.slider-author .slick-arrow.slick-prev{
	left: 20px;
	background: url(../img/arrow-left.png) no-repeat 0 0 / cover;
}
/* Стрелка вправо */
.slider-author .slick-arrow.slick-next{
	right: 20px;
	background: url(../img/arrow-right.png) no-repeat 0 0 / 100%;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}





// Slider review
.slider-review {
	width: 570px;
	margin: 0 auto;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

.slider .slick-arrow {
	// display: none!important;
}

/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider-review__item {
	transition: all 0.1s ease 0.15s;
}

.slider-review__text {
	margin: 45px 0 29px 0;
}

.stars {
	justify-content: center;
	margin-bottom: 65px;
}

.author-name {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.1em;
	color: #26272d;
}


// --------- section-plan ----------------
.section-plan {
	background-color: #f4f4f5;
	padding: 159px 0 191px 0;
}

.plan-offer__title {
	width: 270px;
}

.plan-offer__choice {
	margin: 63px 0 18px 0;
	color: $clr-title;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

// .checkbox {
// 	visibility: hidden;
// }

// .switch {
// 	position: relative;
// 	width: 256px;
// 	height: 48px;
// 	border: 1px solid #d5d6d7;
// 	border-radius: 50px;
// }

// .switch:before {
// 	content: 'Individual';
// 	font-size: 16px;
// 	color: #b5b5b7;
// 	// position: absolute;
// 	top: 10px;
// 	left: 32px;
// 	// z-index: 2;
// }

// .switch:after {
// 	content: 'Company';
// 	font-size: 16px;
// 	color: #b5b5b7;
// 	// position: absolute;
// 	top: 10px;
// 	right: 32px;
// 	// z-index: 2;
// }

// .checkbox-label {
// 	display: block;
// 	width: 124px;
// 	height: 40px;
// 	border-radius: 50px;
// 	background-color: #fff;
// 	position: absolute;
// 	top: 3px;
// 	left: 3px;
// 	z-index: 1;
// 	box-shadow: 0 5px 24px 0 rgba(61, 61, 62, 0.2);
// 	transition: all 0.4s ease;
// 	cursor: pointer;
// }

// .checkbox-label:after {
//     content: 'Individual';
//     font-size: 16px;
// 	color: #26292c;
// 	position: absolute;
// 	top: 7px;
// 	left: 28px;
// }

// .checkbox:checked + .checkbox-label {
// 	left: 127px;
// }

// .checkbox:checked + .checkbox-label:after {
// 	content: 'Company';
// }

.packeges-content__checkbox {
	display: flex; 
	font-size: 16px;
    color: #b5b5b7;
}

.switcher {
	position: relative;
}

.switcher input {
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	position: relative;
	width: 258px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #d5d6d7; 
	cursor: pointer;
}

.switcher input:before, 
.switcher input:after {
	z-index: 2;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	color: #fff;
}

.switcher input:before {
	content: 'Individual';
	left: 30px;
}

.switcher input:after {
	content: 'Company';
	right: 30px;
}

.switcher label {
	z-index: 1;
	position: absolute;
	top: 3px;
	bottom: 10px;
	border-radius: 20px;
}

.switcher.switcher-1 input:checked {
	background: transparent;
	border: 1px solid #d5d6d7;
}

.switcher.switcher-1 input:checked:before {
	color: #26292c;
	transition: color .5s .2s;
}

.switcher.switcher-1 input:checked:after {
	color: #b5b5b7;
	transition: color .5s;
}

.switcher.switcher-1 input:checked + label {
	height: 42px;
	width: 125px;
	margin:auto;
	right: 130px;
	left: 5px;
	box-shadow: 2px 3px 20px 4px rgba(92,95,101,0.28);
	background: #fff;
	transition: left .5s, right .4s .2s;
}

.switcher.switcher-1 input:not(:checked):before {
	color: #b5b5b7;
	transition: color .5s;
}

.switcher.switcher-1 input:not(:checked):after {
	color: #26292c;
	transition: color .5s .2s;
}

.switcher.switcher-1 input:not(:checked) + label {
	height: 42px;
	width: 125px;
	margin: auto;
	left: 128px;
	right: 5px;
	box-shadow: 2px 3px 20px 4px rgba(92,95,101,0.28);
	background: #fff;
	transition: left .4s .2s, right .5s, background .35s -.1s;
}

.plan-offer__text {
	margin: 68px 0 41px 0;
	width: 355px;
}

.plan-offer__team {
	font-size: 14px;
}

.plan-offer__link {
	color: #267df4;
	border-bottom: 1px solid #a2bef5;
}

.plan-offer__link:hover {
	color: #267df4;
	border-bottom: 1px solid transparent;
}

.card {
	width: 340px;
	padding: 40px 55px 50px 46px;
	background-color: #ebebed;
	border-radius: 10px;
	border: none;
}

.card__price {
	font-weight: 700;
	font-size: 11px;
	color: $clr-title;
	width: 61px;
	border: 1px solid #c4c4c6;
	border-radius: 50px;
	padding: 6px 0 6px 0;
	margin: 28px auto 54px auto;
}

.card__text {
	width: 167px;
	margin: 0 auto;
}

.card__list {
	margin: 25px auto 49px auto;
	font-size: 16px;
	color: #26292c;
	width: 235px;
}

.card__item {
	margin-top: 21px;
}

.card__item i {
	color: #6fc754;
	margin-right: 10px;
}

.card__btn {
	width: 200px;
	background-color: transparent;
	border: 1px solid #267df4;
	color: #267df4;
	margin: 0 auto;
}

.card__btn:hover {
	background-color: #267df4;
	color: #fff;
}

.card__btn_started {
	margin-top: 45px;
}

// --------- section-subscription ----------------
.section-subscription {
	padding: 88px 0 0 0;
}

.subscription {
	border-bottom: 1px solid #f4f4f4;
}

.subscription-form {
	position: relative;
	margin: 48px 0 27px 0;
}

.subscription-form__input {
	width: 560px;
	border: 1px solid #d4d4d5;
	font-size: 16px;
	color: #26292c;
	border-radius: 50px;
	padding: 15px 15px 14px 25px;
}

.subscription-form__btn {
	position: absolute;
	right: 312px;
    top: 6px;
	width: 132px;
	background-color: #6fc754;
	border: 1px solid transparent;
}

.subscription-form__btn:hover {
	@extend .form__btn:hover;
}

.subscription__text {
	font-size: 14px;
	margin-bottom: 84px;
}

// --------- section-info ----------------
.section-info {
	padding: 90px 0 127px;
}

.contacts__text {
	font-size: 14px;
	margin: 34px 0 30px 0;
	width: 255px;
}

.contacts__link {
	width: 140px;
	background-color: #000;
	border: 1px solid transparent;
	border-radius: 5px;
	color: #fff;
	font-size: 8px;
	margin: 30px 0 40px 0;
	padding: 7px 0 5px 0;
	text-align: left;
	letter-spacing: 0.05em;
}

.contacts__link:hover {
	@extend .get-it__link:hover;
}

.contacts__link span {
	font-size: 15.5px;
	display: block;
	line-height: 1;
}

.contacts__link i {
	font-size: 26px;
	margin: 0 13px 0 11px;
}

.networks__link {
	color: #bdbec0;
	margin-right: 26px;
}

.networks__link:hover {
	color: #000;
}

.info-title {
	margin-bottom: 23px;
	font-size: 12px;
}

.info-title__link {
	text-transform: uppercase;
	color: $clr-title;	
}

.info-title__link:hover {
	color: $clr-title;
	text-decoration: underline;
}

.info__item {
	margin-bottom: 20px;
	font-size: 16px;
}

.info__link {
	color: #8c8f94;
}

.info__link:hover {
	color: #8c8f94;
	text-decoration: underline;
}

// --------- footer ----------------
.footer {
	padding: 0 0 26px 0 ;
}

.more {
	padding-top: 28px;
	border-top: 1px solid #f4f4f4;
}

.more__text {
	font-size: 14px;
}

.more__link {
	color: #3b55e6;
	text-decoration: underline;
}

.more__link:hover {
	color: #3b55e6;
	text-decoration: none;
}

.craftwork span {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 9px;
	color: $clr-title;
	margin-right: 11px;
}