/* ------- Specification ------- */
$clr-text: #8c8f94;
$clr-title: #26272d;

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0em;
	color: $clr-text;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
	color: $clr-title;
}

h1, h2 {
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 62px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 32px;
	font-weight: 300;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

input, button {
	border: none;
	background-color: transparent;
	padding: 0;
}

input, button, button:focus, span:focus {
	outline: none;
}

.btn {
	display: block;
	background-color: #267df4;
	width: 132px;
	max-width: 100%;
	font-size: 16px;
	font-weight: 400;
	height: 42px;
    line-height: 26px;
	text-align: center;
	color: #fff;
	border: transparent 1px solid;
	border-radius: 50px;
	align-items: center;
}

.btn:focus {
	box-shadow: none;
}

// ------------ header ----------------

.header {
	background: #eef0f3 url(../img/fon.jpg) no-repeat center center / cover;
}

.navigation {
	padding: 44px 0;
}

.menu__item_left {
	margin-right: 41px;
}

.menu__link {
	font-size: 16px;
	color: #26272d;
}

.menu__link:hover {
	color: #b5b5b6;
}

.menu__link_hamburger {
	margin-right: 30px;
}

.menu__item_right {
	margin-left: 30px;
}

.menu__btn:hover {
	border: #267df4 1px solid;
	background-color: transparent;
	color: #26272d;
}

.menu__btn i {
	font-size: 18px;
	margin-right: 12px;
}

.main {
	padding-top: 71px;
}

.main-text {
	margin: 35px auto 60px auto;
	max-width: 787px;
}

.main-link {
	display: block;
	color: $clr-title;
	background-color: transparent;
	border: 1px solid #dadcdf;
	height: 50px;
	line-height: 36px;
	width: 205px;
	max-width: 100%;
	margin: 0 auto 55px auto;
}

.main-link:hover {
	color: #fff;
	background-color: #267df4;
	border: 1px solid #267df4;
}

.main-link i {
	margin-right: 15px;
}

// --------- section-causes --------
.section-causes {
	padding-top: 122px;
}

.causes {
	padding-bottom: 92px;
	border-bottom: 1px solid #f4f4f4;
}

.cause {
	margin-left: 38px;
}

.cause__title {
	font-weight: 300;
	font-size: 26px;
	margin: 42px 0;
}

.cause__text {
	margin-bottom: 30px;
	font-size: 18px;
	width: 500px;
}

// --------- section-protect -------
.section-protect {
	padding: 254px 0 310px 0;
	background: url(../img/iphoneprotect.png) no-repeat left center;
}

.protect {
	width: 470px;
}

.protect__btn {
	width: 202px;
	margin-right: 20px;
}

.protect__btn:hover {
	@extend .menu__btn:hover;
}

.protect__buttons i {
	margin-left: 46px;
}

.prottect__more {
	width: 140px;
	background-color: transparent;
	color: $clr-title;
	border: 1px solid #e9e9ea;
}

.prottect__more:hover {
	@extend .main-link:hover;
}

.protect__text {
	margin-bottom: 32px;
}

.protect__buttons {
	margin-top: 43px;
}

.protect__title {
	margin-bottom: 67px;
}

// --------- section-location ----------------
.section-location {
	padding: 129px 0 198px 0;
	background: url(../img/map.jpg) no-repeat right center;
}

.location {
	width: 470px;
}

.location__title {
	margin-bottom: 58px;
}

.location__text {
	margin-bottom: 34px;
}

.partners span {
	display: block;
	margin: 28px 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: $clr-title;
}

.partners__item {
	margin-right: 31px;
}